APP_NAME=teknisio-backend
SERVER_PORT=8080

JWT_SECRET=teknisio_super_secret_key_minimum_32_characters
JWT_EXPIRATION_MS=86400000

H2_URL=jdbc:h2:file:./data/teknisio_db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH;AUTO_SERVER=TRUE;INIT=CREATE SCHEMA IF NOT EXISTS public\\;SET SCHEMA public
H2_USER=teknisio_db
H2_PASSWORD=mbg_mas_bahlil_ganteng_18000_1_usd
